.tab {
       display:inline-block;
       margin-left: 40px;
}

.note {
    color:blue
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

.list {
   background-color: gray;
   color: white;
   padding: 5px 10px;
 }